.captionOrange, .captionBlack{
	color: #fff;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	border-radius: 4px;
}
.captionOrange{
	background: #EB5100;
	background-color: rgba(235, 81, 0, 0.6);
}
.captionBlack{
	font-size:16px;
	background: #000;
	background-color: rgba(0, 0, 0, 0.4);
}
a.captionOrange, A.captionOrange:active, A.captionOrange:visited{
	color: #ffffff;
	text-decoration: none;
}
a.captionOrange:hover{
	color: #eb5100;
	text-decoration: underline;
	background-color: #eeeeee;
	background-color: rgba(238, 238, 238, 0.7);
}
.bricon{
	background: url(/public/js/slider/img/browser-icons.png);
}

/*=================================================================================================*/
	/*	 jssor slider arrow navigator skin 05 css 
		 .jssora05l              (normal)
		 .jssora05r              (normal)
		 .jssora05l:hover        (normal mouseover)
		 .jssora05r:hover        (normal mouseover)
		 .jssora05ldn            (mousedown)
		 .jssora05rdn            (mousedown)
	*/
.jssora05l, .jssora05r, .jssora05ldn, .jssora05rdn{
	/*position: absolute;cursor: pointer;display: block;background: url(/public/js/slider/img/a17.png) no-repeat;overflow:hidden;
	*/
}
.jssora05l { background-position: -10px -40px; }
.jssora05r { background-position: -70px -40px; }
.jssora05l:hover { background-position: -130px -40px; }
.jssora05r:hover { background-position: -190px -40px; }
.jssora05ldn { background-position: -250px -40px; }
.jssora05rdn { background-position: -310px -40px; }

/*=================================================================================================*/





/*=====fork label ==================================================================================*/
/*
#forkongithub a{
	background:#000;
	color:#fff;
	text-decoration:none;
	font-family:arial,sans-serif;
	text-align:center;
	font-weight:bold;
	padding:5px 40px;
	font-size:1rem;
	line-height:2rem;
	position:relative;
	transition:0.5s;
}
#forkongithub a:hover{
	background:#c11;color:#fff;
}
#forkongithub a::before,#forkongithub a::after{
	content:"";
	width:100%;
	display:block;
	position:absolute;
	top:1px;
	left:0;
	height:1px;
	background:#fff;
}
#forkongithub a::after{
	bottom:1px;
	top:auto;
}
@media screen and (min-width:800px){
	#forkongithub{
		position:fixed;display:block;top:0;right:0;width:200px;overflow:hidden;height:200px;z-index:9999;
	}
	#forkongithub a{
		width:200px;position:absolute;top:60px;right:-60px;transform:rotate(45deg);-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);box-shadow:4px 4px 10px rgba(0,0,0,0.8);
	}
}
*/
